
.admin {
  background-color: #fff;
  width:95%;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.admin h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: thistle;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form textarea,
form button {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid thistle;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

form input:focus,
form textarea:focus {
  border-color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

textarea {
  resize: none;
  height: 100px;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: black;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

button {
  background-color: thistle;
  color: rgb(236, 233, 233);
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: black;
  color: thistle;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .admin {
    width: 90%;
    padding: 20px;
    margin-right: 80px;
  }

  form input,
  form textarea,
  form button {
    font-size: 14px;
  }
}
